<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
    <title>PokerMini - Game</title>
</head>
<body>
    <center><h1>Game</h1></center>

    <!-- <div class="table" style="align-items: center;">
        <img src="images/table.png" alt="img-table">
    </div> -->


    <div style="display: flex; justify-content: center; align-items: center;">
        <div>
            <p>Player 1 (you)</p>
        </div>
        <div> <img src="images/table.png" alt="bob"> </div>
        <div>
            <p>Player 2 (bot)</p>
        </div>
    </div>

</body>
</html>