<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
    <title>PokerMini</title>
</head>
<body>
    <center>
        <h1>PokerMini</h1>
        <a href="/game"><button>Jouer</button></a>
    </center>
</body>
</html>