<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('head'); %>
</head>
<body>
	<main class="container">

		<div style="display: flex; justify-content: center; align-items: center;">
			<h1>PokerMini</h1>
		</div>	

		<div style="display: flex; justify-content: center; align-items: center;">
			<a href="/game"><button type="submit">New game</button></a>
		</div>	
	</main>
</body>
</html>